<div class="cp_cont">
  <input type="checkbox" id="cp_toggle02">
  <div class="cp_mobilebar">
  <label for="cp_toggle02" class="cp_menuicon">
  <span></span>
  </label>
  </div>
  <header class="cp_offcm02">
    <nav><ul>
      <li><a href="/">TOP</a></li>
      <li><a href="#">menu2</a></li>
      <li><a href="#">menu3</a></li>
      <li><a href="#">menu4</a></li>
      <li>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-secondary" %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-warning btn-sm" %>
          <%= link_to 'ユーザー登録', new_user_registration_path, class: "btn btn-warning btn-sm" %>
        <% end %>
      </li>
    </ul></nav>
  </header>
</div>
