/* content */
.container {
  position: relative;
  top: 0px;
  margin-top: 0;
  padding: 35px auto;
  -webkit-transition: transform .3s ease-in;
          transition: transform .3s ease-in;
}
.content {
  margin: 0 auto;
  width: 100%;
}

/* Markdown */
.inline-code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}
.code-block {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  font-family: monospace;
}
